.sidebar {
    margin: 0;
    padding: 0;
    width: 114px;
    background-color: #ffffff;
    position: absolute;
    height: 50%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #242525;
    padding: 16px;
    text-decoration: none;
  }
  .footer {
    text-align: center;
    padding: 3px;
    background-color: #277bdb;
    color: white;
  }
  .add {
    float: right;
  }
  .btn-sm {
    --bs-btn-padding-y: 0.22rem;
    --bs-btn-padding-x: 0.2rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
  }
  .header-right-link {
    float: right;
    width: 115px;
    padding: 30px 0px;
    margin-left: 60px;
    text-align: right;
}
.s-menu {
  padding: 5px 8px;
  border: 1px solid #267a2a;
  background: #267a2a;
  color: #fff;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  text-decoration: none;
}
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #277bdb;
    color: white;
  }
  .navbar {
    background-color: #277bdb;
}
